[vp-content] {
  &.custom {
    padding: 0 5rem;
  }

  &:not(.custom) > {
    p,
    ul p,
    ol p {
      text-align: left;
      overflow-wrap: break-word;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
}
